<h1 class='title'>{{name}}</h1>
<div class='parameters-container'>
  <div class='info'>
    <p class='info__item'><b>Capital: </b>{{capital}}</p>
    <p class='info__item'><b>Population: </b>{{population}}</p>
    <p class='info__item'><b>Languages: </b></p>
    <ul>
      {{#each languages}}
        <li class='info__languages'>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class='flag'>
    <img src='{{flag}}' width='400' height='300' alt='flag' />
  </div>
</div>